.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 90vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner {
  a {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px white;
    border-radius: 4px;
    padding: 4px 24px;
    width: min-content;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    transition-duration: 200ms;
    i {
      margin-top: 0;
      transition-duration: 200ms;
    }
    &:hover {
      background: rgba(0,0,255,0.8);
      // color: black;
      // border: black;
      transition-duration: 200ms;
      i {
        margin-top: 4px;
        transition-duration: 200ms;
      }
    }
  }
}
